<!-- User page -->


{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card bg-dark text-white shadow rounded border border-secondary w-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/700" class="card-img-top rounded-start img-fluid p-5" alt="Profile Picture" style="max-width: 100%; height: auto;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title text-center">Welcome, {{ current_user.first_name | capitalize }}!</h1>
              <p class="card-text fs-2 text-left">You are logged in as {{ current_user.username }}</p>
              <p class="card-text">First Name: {{ current_user.first_name| capitalize }}</p>
              <p class="card-text">Last Name: {{ current_user.last_name| capitalize }}</p>
              <p class="card-text">Member Since: {{ current_user.date_added }}</p>
              <p class="card-text">Email: {{ current_user.email }}</p>
              <p class="card-text">About: {{ current_user.about_you }}</p>
              
              <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-success mt-3 me-2">Logout</a>
              <a href="{{ url_for('auth.delete', user=current_user) }}" class="btn btn-danger mt-3">Delete Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container d-flex justify-content-center align-items-center">
  <div class="row mt-5 mb-5 p-5 shadow rounded border border-secondary bg-dark w-100">
      <div class="col">
          <h3 class="text-white">Update Profile</h3>
        
<form class="row g-3" method="POST" enctype="multipart/form-data">
  {{ updateform.hidden_tag() }}
  <div class="col-md-6">
      <label for="first_name" class="form-label">{{ updateform.first_name.label }}</label>
      {{ updateform.first_name(class='form-control', placeholder='First Name') }}
      {% for error in updateform.first_name.errors %}
          <span class="err-msg">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="col-md-6">
      <label for="last_name" class="form-label">{{ updateform.last_name.label }}</label>
      {{ updateform.last_name(class='form-control', placeholder='Last Name') }}
      {% for error in updateform.last_name.errors %}
          <span class="err-msg">{{ error }}</span>
      {% endfor %}
  </div>

  <div class="col-md-6">
      <label for="email" class="form-label">{{ updateform.email.label }}</label>
      {{ updateform.email(class='form-control', placeholder='Email Address') }}
      {% for error in updateform.email.errors %}
          <span class="err-msg">{{ error }}</span>
      {% endfor %}
  </div>


  <div class="col-12">
      <label for="aboutyou" class="form-label">{{ updateform.about_you.label }}</label>
      {{ updateform.about_you(class='form-control') }}
  </div>


  <div class="col-12">
      {{ updateform.submit(class='btn btn-success') }}
  </div>
</form>
</div>
</div>
</div>






                

 







{% endblock %}