h1 {
    color: rgb(93, 146, 125);
    font-size: 60px;
}

body {
    background-color: #404040;
}

.form-label {
    color: white;
}

p {
    color:white;
}


/* this is a javascript format */
#demo {
    font-size: 12px;
    color:rgb(43, 226, 174);

}

